<div id="error">
<h3>Oops, something went wrong!
<br>
You may choose to go back to the
<a href="/registration">registration</a>
or
<a href="/login">login</a>
pages.
<br>
<br>
Else if you're a fellow developer, the following error message might be interesting for you:
<br>
<br>
{{err}}
</h3>

</div>
