<h1>Profile successfully edited!</h1>
<h1>Thank you! <br>
    <br>
    <button type="button"><a href="/thanks">THANKS!!</a>!</button>
</h1>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
