<h1>Signature successfully removed!
    <br>
    <br>
THANK YOU!!! <br>
<br>
    If you've changed your mind, click the link to protect our squirrels from drowning:<br>
    <br>
    <button type="button" name="button"><a href="/petition">SIGN THE PETITION</a>!</button>
</h1>

<br>
<br>
<br>
<br>
