<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>

        <header>
            <div class="header">
                The Best Petition of all Times
            </div>
            <img id="spicedimage" src="/spiced.png">

        </header>
        
        <div class="sidebar">
            <div class="logo">
                <img id="forbidden" src="/verbot.png">
                <img id="drowning" src="/drowning-squirrel.jpeg">
            </div>
        </div>
        <div class="navbar">
            <div><a class="navlink" href="/petition">SIGN PETITION</a></div>
            <div><a class="navlink" href="/signers">DISPLAY SIGNERS</a></div>
            <div><a class="navlink" href="/edit-profile">EDIT USER PROFILE</a></div>
            <div id="logout"><a class="navlink" href="/logout">LOGOUT</a></div>
        </div>
        <br>
        <br>

        {{{body}}}

        <footer>
            (C) Felix 2020
        </footer>
    </body>
</html>
