<!DOCTYPE html>
    <body>
        <br>
        <h1><br><br>
            Profile successfully created!
            <br>
            <br>
            <br>
            Thank you! <br>
            <br>
            You may now move on to <br>
            <br>
            <button type="button" name="button"><a href="/petition">SIGN THE PETITION</a>!</button>
        </h1>
    </body>
