<!DOCTYPE html>
    <body>
        <div class="middlestuff">
            <div class="middlemiddle">
                <br>
                <br>
                <h1>Please provide your registration details below:</h1>
                <br>
                <br>
                <form method="post">
                    <input type="text" name="first" placeholder="First name">
                    <br>
                    <input type="text" name="last" placeholder="Last name">
                    <br>
                    <input type="text" name="email" placeholder="Your email address">
                    <br>
                    <input type="password" name="newPassword" placeholder="Choose a password">
                    <br>
                    <button name="button">SIGN UP</button>
                    <input type="hidden" name="_csrf" value={{csrfToken}}>
                    <br>
                    <br>
                    <p>Already registered?</p>
                    <br>
                    <button type="button"><a id="login" href="/login">LOGIN</a></button>
                </form>
            </div>

            <div id="save-logo" class="logo">
                <img id="save" src="./save-the-squirrels.png">
            </div>

        </div>
    </body>
